<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Employee Website</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_hierarchy' %}">Hierarchy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_list' %}">List</a>
                    </li>


                </ul>
            </div>
            <div>
                <li style="list-style: none">
                    {% if user.is_authenticated %}<p>Hi, {{ user }}</p>
                        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Log out</button>
                        {% else %}
                        <a class="btn btn-danger" href="{% url 'login' %}">Login</a>
                    {% endif %}
                        </form>
                </li>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>

{% if user.is_authenticated %}<p>{{ user }}</p>{% endif %}
</body>
</html>