{% extends 'base.html' %}
{% block content %}
<h1>Employee Hierarchy</h1>
    <ul id="employee">
        {% for employee in object_list %}
            {% if employee.manager == None %}
                <li value={{ employee.id }}>
                    {{ employee.name }} ({{ employee.position }} {{ employee.id }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

<script>
    var treeview = document.getElementById("employee")

    treeview.addEventListener('click', function(event) {
        var target = event.target;
            if (!target.classList.contains("selected")) {
                var employeeID = target.getAttribute('value')

                var url = "ajax/load-subordinates/" + employeeID;

                $.ajax({
                    url: url,
                    dataType: 'json',
                    success: function (data) {
                        target.insertAdjacentHTML("beforeend", data.html)
                        target.classList.add("selected")

                    }
                });

            } else {
                for(let i = 0; i < target.childElementCount; i++){
                    target.children[i].remove()
                    i--;
                }
                target.classList.remove("selected")
            }
    });
</script>
{% endblock %}